{
  "singleQuote": true,
  "importOrder": [
    "^node:",
    "^react(-dom|-is)?$",
    "^\\w",
    "^@(?!ossts)",
    "^@ossts",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
