{
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "^node:",
    "^react(-dom|-is)?$",
    "^\\w",
    "^@(?!ossts)",
    "^@ossts",
    "^[./]"
  ],
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
